
# files
*~
*.log
*.xz
*.patch

# directories
build/
dist/

# coverity
cov-int/
coverity/

# IDEs and related
.ccls-cache/
.cquery_cached_index/
compile_commands.json
.idea
.gdb_history
.vscode/

# emacs
TAGS
\#*\#
